* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #0c0b0b;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 138rem;
  margin: 0 auto;
  padding: 0 2vw;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.head-section {
  display: flex;
  flex-basis: 5.6rem;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #202020;
  padding: 0 2.2rem;
  box-shadow: 0 0.2rem 0.2rem rgba(17, 17, 17, 0.2);
  z-index: 1;
}
.logo h1 {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.12rem;
  color: white;
  white-space: nowrap;
  cursor: pointer;
}

.logo-icon {
  color: #f00;
  padding-right: 0.5rem;
}

.site-search {
  display: flex;
  height: 3.2rem;
}

.search-input,
.search-btn {
  border: 0.1rem solid #ccc;
}

.search-input {
  flex-basis: 60rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-right: none;
  padding-left: 1rem;
}
.search-btn {
  flex: 0 0 6.5rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: rgba(68, 65, 65, 0.822);
  cursor: pointer;
}

.user-menu {
  flex-basis: 16rem;
  display: flex;
  font-size: 1.6rem;
  color: var(--grey-text);
}

.menu-btn {
  color: white;
  padding: 1rem;
}
.user-menu .btn {
  flex: 0 0 4rem;
}
.channel-banner {
  flex-basis: 16vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: url(../img/banner.jpg) no-repeat center 35%;
  background-size: cover;
  padding: 1.6rem;
}

.channel-social-links {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.channel-social-links li {
  display: inline-block;
  font-size: 1.8rem;
  padding-right: 1rem;
}

.channel-social-links li:last-of-type {
  padding-right: 0;
}

.facebook {
  color: #3b5999;
}

.twitter {
  color: #1da1f3;
}

.instagram {
  border-radius: 40px;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.channel-info {
  background-color: #1d1c1c;
  padding-top: 1.6rem;
}

.channel-info .container {
  display: flex;
  align-items: center;
}

.channel-icon {
  flex-basis: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

.channel-title {
  flex: 1 1 auto;
  margin: 0 2rem;
  color: white;
}

.channel-title h1 {
  font-size: 2.4rem;
  font-weight: 400;
  white-space: nowrap;
}
aside {
  position: fixed;
  top: 5.7rem;
  display: flex;
  width: 13rem;
  height: 95vh;
  background-color: #202020;
  border-style: solid;
  border-color: #202020;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}
aside > section > ul {
  background-color: white;
  height: 10%;
  margin-top: 5%;
}
#aside-top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
#aside-top-section > ul {
  height: 2em;
  margin-bottom: -1%;
}
#aside-mid-section {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-radius: 1%;
  border-color: #373737;
}
#aside-mid-section > ul {
  height: 2em;
  margin-bottom: -1%;
}
#aside-bottom-section {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: black;
  border-width: 2px 0 0 0;
  border-radius: 1%;
  border-color: #373737;
}
#aside-bottom-section > ul {
  height: 1.5em;
  margin-bottom: -1%;
}
.sideButton {
  text-align: start;
  height: 100%;
  width: 100%;
  padding: 1%;
  color: #f0f0f0;
  border-width: 0;
  background-color: #202020;
}
aside > section > ul:hover {
  background-color: grey;
}
aside > section > ul:hover > .sideButton {
  background-color: grey;
}
aside > section > ul:hover > {
  background-color: grey;
}
.channel-subscriber-count {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
}

.channel-subscribe {
  display: flex;
  height: 3.7rem;
  color: white;
}

.subscribe-btn {
  width: 14.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: red;
  margin-right: 0.4rem;
}
.channel-nav {
  background-color: #1d1c1c;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
  color: rgb(146, 146, 146);
}

.channel-nav ul {
  display: flex;
}

.nav-item a {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--grey-text);
  padding: 1.5rem 3.2rem;
}

.nav-item a.current {
  color: var(--black-text);
  border-bottom: 0.3rem solid #6e6e6e;
}
.channel-content .container {
  display: flex;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  color: rgb(114, 114, 114);
}

.channel-videos {
  display: flex;
  flex-direction: column;
  min-width: 42.5rem;
  max-width: 107rem;
}

.video-title {
  color: white;
}

.video-meta-data,
.video-description {
  font-size: 1.3rem;
  font-weight: 400;
}

.video-description {
  max-width: 60rem;
  line-height: 1.4;
}

.video-meta-data li {
  display: inline-block;
}

.video-creator {
  padding-right: 0.4rem;
}

.video-views::after {
  content: "\00B7";
  font-size: 2.2rem;
  padding-left: 0.4rem;
  vertical-align: middle;
}
.video-thumbnail,
img {
  width: 15vw;
  height: 15vh;
}

.playlist {
  position: relative;
  padding-bottom: 1rem;
  overflow-x: auto;
  margin-top: 2rem;
}

.playlist-title {
  font-size: 1.6rem;
  font-weight: 500;
  position: sticky;
  left: 0;
  padding: 2rem 0;
}

.playlist-videos {
  display: flex;
}

.playlist-video {
  flex-basis: 21rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.playlist-video .video-title {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.5rem 0;
}

.playlist-video .video-creator {
  display: block;
}
