.channel-content .container {
  display: flex;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  color: rgb(114, 114, 114);
}

.playlist {
  position: relative;
  padding-bottom: 1rem;
  overflow-x: auto;
  margin-top: 2rem;
}
