@import "./fontawesome-free-5.15.2-web/css/all.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #0c0b0b;
}

.container {
  max-width: 138rem;
  margin: 0 auto;
  padding: 0 2vw;
}

.head-section {
  display: flex;
  flex-basis: 5.6rem;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #202020;
  padding: 0 2.2rem;
  box-shadow: 0 0.2rem 0.2rem rgba(17, 17, 17, 0.2);
  z-index: 1;
}

.channel-info .container {
  display: flex;
  align-items: center;
}

.channel-content .container {
  display: flex;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  color: #727272;
}

.playlist {
  position: relative;
  padding-bottom: 1rem;
  overflow-x: auto;
  margin-top: 2rem;
}

.channel-nav {
  background-color: #1d1c1c;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  color: #929292;
}

.channel-nav ul {
  display: flex;
}

.nav-item a {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: grey;
  padding: 1.5rem 3.2rem;
}

aside {
  position: fixed;
  top: 5.7rem;
  display: flex;
  width: 13rem;
  height: 95vh;
  background-color: #202020;
  border-style: solid;
  border-color: #202020;
  flex-direction: column;
  align-items: center;
  display: none;
}

aside > section > ul {
  background-color: white;
  height: 10%;
  margin-top: 5%;
}

#aside-top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#aside-top-section > ul {
  height: 2em;
  margin-bottom: -1%;
}

#aside-mid-section {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-radius: 1%;
  border-color: #373737;
}

#aside-mid-section > ul {
  height: 2em;
  margin-bottom: -1%;
}

#aside-bottom-section {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: black;
  border-width: 2px 0 0 0;
  border-radius: 1%;
  border-color: #373737;
}

#aside-bottom-section > ul {
  height: 1.5em;
  margin-bottom: -1%;
}

.search-btn {
  flex: 0 0 6.5rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: rgba(68, 65, 65, 0.822);
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

.user-menu {
  flex-basis: 16rem;
  display: flex;
  font-size: 1.6rem;
}

.user-menu .btn {
  flex: 0 0 4rem;
}

.menu-btn {
  font-size: 1.6rem;
  color: #888;
  padding: 0 0.5rem;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  border-radius: 30%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.channel-social-links {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.channel-social-links li {
  display: inline-block;
  font-size: 1.8rem;
  padding-right: 1rem;
}

.channel-social-links li:last-of-type {
  padding-right: 0;
}

.facebook {
  color: #3b5999;
}

.twitter {
  color: #1da1f3;
}

.instagram {
  border-radius: 40px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.sideButton {
  text-align: start;
  height: 100%;
  width: 100%;
  padding: 1%;
  color: #f0f0f0;
  border-width: 0;
  background-color: #202020;
}

.sideButton:hover {
  background-color: grey;
}

.subscribe-btn {
  width: 14.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: red;
  margin-right: 0.4rem;
}

.line {
  width: 2.5rem;
  height: 0.2rem;
  background-color: grey;
  border-radius: 25%;
}

@keyframes move-right {
  from {
    left: 0;
    transform: scale(1);
  }
  to {
    left: 4vw;
  }
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-lable {
  color: white;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  width: 4rem;
  height: 2rem;
  margin-left: 1rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 5rem;
}

.slider::before {
  position: absolute;
  content: "";
  left: 0.25rem;
  bottom: 0.35rem;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: lightsteelblue;
}

input:checked + .slider::before {
  transform: translateX(2.5rem);
}

.light {
  color: #202020;
}

.site-search {
  flex-grow: 1;
  margin: 0 2.5rem;
  display: flex;
  height: 3.2rem;
}

.search-input,
.search-btn {
  border: 0.1rem solid #ccc;
}

.search-input {
  flex-basis: 60rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-right: none;
  padding-left: 1rem;
}

.logo {
  flex: 0 0 15rem;
  margin-left: 2.5rem;
}

.logo h1 {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.12rem;
  color: white;
  white-space: nowrap;
  cursor: pointer;
}

.logo-icon {
  color: #f00;
  padding-right: 0.5rem;
}

.channel-icon {
  flex-basis: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

.channel-banner {
  flex-basis: 16vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: url(../../img/banner.jpg) no-repeat center 35%;
  background-size: cover;
  padding: 1.6rem;
}

.channel-videos {
  display: flex;
  flex-direction: column;
  min-width: 42.5rem;
  max-width: 107rem;
}

.video-thumbnail,
img {
  width: 15vw;
  height: 15vh;
}

.playlist-videos {
  display: flex;
}

.playlist-video {
  flex-basis: 21rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.channel-title {
  flex: 1 1 auto;
  margin: 0 2rem;
  color: white;
}

.channel-title h1 {
  font-size: 2.4rem;
  font-weight: 400;
  white-space: nowrap;
}

.channel-subscriber-count {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
}

.video-title {
  color: white;
}

.video-meta-data,
.video-description {
  font-size: 1.3rem;
  font-weight: 400;
}

.video-meta-data li {
  display: inline-block;
}

.video-creator {
  padding-right: 0.4rem;
}

.video-views::after {
  font-size: 2.2rem;
  padding-left: 0.4rem;
  vertical-align: middle;
}

.playlist-title {
  font-size: 1.6rem;
  font-weight: 500;
  position: sticky;
  left: 0;
  padding: 2rem 0;
}

.playlist-video .video-title {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.5rem 0;
}

.playlist-video .video-creator {
  display: block;
}

.channel-info {
  background-color: #1d1c1c;
  padding-top: 1.6rem;
}

.channel-subscribe {
  display: flex;
  height: 3.7rem;
  color: white;
}

/*# sourceMappingURL=main.css.map */
